header {
    display: flex;
    text-indent: 100px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
}
.link-logo {
    text-decoration: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em; 
    color: #000000;
}
span {
color: #2196F3;
}
.link {
    text-indent: 100px;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
}
.link-kontakt {
    text-indent: 100px;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;
}
 li {
     list-style-type: none;
 }
 ul {
    display: flex;
     padding-left: 0;
 }
 h2 {
    text-align: center;
 }
 h3 {
    text-align: center;
}
.hero {
    background: #2F303A;
}
.hero-heading {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.hero-btn {
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    display: block;
    margin: auto;
    color: #FFFFFF;
}
.visually-hidden {
}
.points {
    text-align: left;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}
.description {
    text-align: left;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.05em;
    color: #757575;
}
.deeds-to-do {
    text-align: center;
    justify-content: space-evenly;
} 
.our-team {
    background: #F5F4FA;
}
.our-team-heading {
    text-align: center;
    color: #000000;
}
.our-team-wolker {
    display: flex;
    align-items: flex-start;
    padding: 10px;
    margin: 0;
    object-fit: scale-down;
    object-position: right top;
    list-style: none;
    border-radius: 4px;
    justify-content: space-evenly;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.wolkers {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
.position {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}
.page-bottom {
    display: flex;
    text-align: left;
    text-indent: 100px;
    flex-direction: column;
    justify-content: space-evenly;
    background: #2F303A;
}
.link-logo-bottom {
    text-decoration: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.web-world {
    color: #2196F3;
}
.contacts {
}
.location {
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.link-bottom {
    text-decoration: none;
    text-align: left;
    white-space: pre-wrap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}